{{!-- views/admin/deliveries.hbs --}}
<h1>Listado de Delivery</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th># Entregas</th>
      <th>Teléfono</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each deliveries}}
      <tr>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{deliveryCount}}</td>
        <td>{{phone}}</td>
        <td>{{email}}</td>
        <td>
          {{#if active}}
            <form action="/admin/deliveries/{{id}}/deactivate" method="POST" class="d-inline">
              <input type="hidden" name="_csrf" value="{{../csrfToken}}" />
              <button class="btn btn-sm btn-warning">Inactivar</button>
            </form>
          {{else}}
            <form action="/admin/deliveries/{{id}}/activate" method="POST" class="d-inline">
              <input type="hidden" name="_csrf" value="{{../csrfToken}}" />
              <button class="btn btn-sm btn-success">Activar</button>
            </form>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
