{{!-- views/admin/home.hbs --}}
<h1>Admin Dashboard</h1>
<div class="row">
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Total Orders</h5>
        <p class="card-text display-4">{{totalOrders}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Today's Orders</h5>
        <p class="card-text display-4">{{todayOrders}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Products Created</h5>
        <p class="card-text display-4">{{totalProducts}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Active / Inactive Customers</h5>
        <p class="card-text">{{activeCustomers}} / {{inactiveCustomers}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Active / Inactive Delivery</h5>
        <p class="card-text">{{activeDelivery}} / {{inactiveDelivery}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Active / Inactive Merchants</h5>
        <p class="card-text">{{activeMerchants}} / {{inactiveMerchants}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Active / Inactive Admins</h5>
        <p class="card-text">{{activeAdmins}} / {{inactiveAdmins}}</p>
      </div>
    </div>
  </div>
</div>
