<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    {{#if loginCSS}}
      <link rel="stylesheet" href="/assets/css/login.css" />
    {{/if}}
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{!-- Si estamos en la vista de login, no se muestra la navegación --}}
    {{#if loginActive}}
      {{!-- No se muestra menú en login --}}
    {{else}}
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              {{!-- Menú para rol CUSTOMER --}}
              {{#if (eq userRole "customer")}}
                <li class="nav-item">
                  <a class="nav-link {{#if homeActive}}active{{/if}}" href="/customer/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/customer/profile">My Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/customer/orders">My Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/customer/addresses">My Addresses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/customer/favorites">My Favorites</a>
                </li>
              {{/if}}

              {{!-- Menú para rol DELIVERY --}}
              {{#if (eq userRole "delivery")}}
                <li class="nav-item">
                  <a class="nav-link {{#if homeActive}}active{{/if}}" href="/delivery/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/delivery/profile">My Profile</a>
                </li>
                {{!-- <li class="nav-item">
                  <a class="nav-link" href="/delivery/orders">My Orders</a>
                </li> --}}
              {{/if}}

              {{!-- Menú para rol MERCHANT --}}
              {{#if (eq userRole "merchant")}}
                <li class="nav-item">
                  <a class="nav-link {{#if homeActive}}active{{/if}}" href="/merchant/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/merchant/profile">My Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/merchant/categories">Category Maintenance</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/merchant/products">Product Maintenance</a>
                </li>
                {{!-- <li class="nav-item">
                  <a class="nav-link" href="/merchant/orders">Orders</a>
                </li> --}}
              {{/if}}

              {{!-- Menú para rol ADMIN --}}
              {{#if (eq userRole "admin")}}
                <li class="nav-item">
                  <a class="nav-link {{#if homeActive}}active{{/if}}" href="/admin/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/customers">Customers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/deliveries">Delivery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/merchants">Merchants</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/configuration">Configuration</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/admins">Admins</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/merchant-types">Merchant Types</a>
                </li>
              {{/if}}
            </ul>
            <div class="d-flex">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {{#if isAuthenticated}}
                  <li class="nav-item">
                    <form action="/logout" method="POST">
                      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                      <button class="btn btn-danger" type="submit">Logout</button>
                    </form>
                  </li>
                {{else}}
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{#if signupActive}}active{{/if}}" href="/signup">Signup</a>
                  </li>
                {{/if}}
              </ul>
            </div>
          </div>
        </div>
      </nav>
    {{/if}}

    <main class="container">
      {{#if hasErrorMessages}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <ul>
            {{#each errorMessages}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {{/if}}
      
      {{{body}}}
    </main>

    <script src="/assets/js/bootstrap/bootstrap.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    {{#if homeActive}}
      <script src="/assets/js/index/index.js"></script>
    {{/if}}
  </body>
</html>
